$primary-bg-color:#D2BB9B;
$secondary-color:#494236;
$blue-color:rgb(0, 133, 219);
$light-blue-color:rgba(0, 131, 219, 0.259);
$color-theme-1:#6F4E37;
$color-theme-2:#A67B5B;
$color-theme-3:#ECB176;
$color-theme-4:#FED8B1;
$color-theme-5:#000000;
$color-theme-6:#fafaf5;